:root {
    --bg-color: #1a1a1a;
    --container-bg-color: #2d2d2d;
    --input-bg-color: #1e1e1e;
    --primary-color: #2e7d32;
    --secondary-color: #7b1fa2;
    --tertiary-color: #4a148c;
    --text-color: #e0e0e0;
    --accent-white: #f5f5f5;
    --text-muted: #747474;
    --text-label: #bbb;
    --border-color: #444;
    --gradient-speed: 15s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(-45deg, var(--bg-color), var(--primary-color), var(--tertiary-color), var(--bg-color));
    background-size: 300% 300%;
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: gradientBG var(--gradient-speed) ease infinite;
}

.container-Signup {
    width: 100%;
    max-width: 400px;
    padding: 2.5rem;
    text-align: center;
    background: rgba(23, 23, 23, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
}

.container-Signup i.far.fa-envelope-open {
    font-size: 3rem;
    color: var(--primary-color);
}

h1 {
    margin-bottom: 1.5rem;
    color: var(--accent-white);
    font-size: 2rem;
    letter-spacing: 1px;
}


p {
    margin-bottom: 1.5rem;
    color: var(--text-muted);
    font-size: 1rem;
    line-height: 1.5;
}

.input-groups {
    position: relative; 
    margin-bottom: 1.2rem;
    text-align: left;
}

.input-groups i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1rem;
    color: var(--primary-color);
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-label);
    font-size: 0.9rem;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.85rem 0.85rem 0.85rem 2.5rem;
    background-color: var(--input-bg-color);
    color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: var(--primary-color);
    outline: none;
}

.container-Signup button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.benefits {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: var(--text-label);
}

.benefits i {
    margin-right: 0.5rem;
    color: var(--primary-color);
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}
